ext {
    applicationId = '${APPLICATION_ID}'
    applicationVersion = '${APPLICATION_VERSION}'
    buildDate = '${BUILD_DATE}'
    keystoreFile = '${KEYSTORE_FILE}'
    keystorePassword = '${KEYSTORE_PASSWORD}'
    keyAlias = '${KEY_ALIAS}'
    keyPassword = '${KEY_PASSWORD}'
}
