name: Android CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      APPLICATION_ID: dev.yhiguchi.template
    steps:
    - uses: actions/checkout@v3
    - name: Setup Java and Ruby
      uses: ./.github/actions/setup
    - name: Set env
      run: |
        echo "APPLICATION_VERSION=0.1.0" >> "${GITHUB_ENV}"
        echo "BUILD_DATE=$(date "+%Y-%m-%d-%H-%M")" >> "${GITHUB_ENV}"
    - name: Generate env
      run: bundle exec fastlane generate_env
    - name: lint
      run: bundle exec fastlane lint
    - name: test
      run: bundle exec fastlane test
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: test-reports
        path: build/reports/tests/