name: Android CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      APPLICATION_VERSION: 0.0.1
    steps:
    - uses: actions/checkout@v3
    - name: Setup Java and Ruby
      uses: ./.github/actions/setup
    - name: Generate config
      run: bundle exec fastlane config
    - name: lint
      run: bundle exec fastlane lint
    - name: test
      run: bundle exec fastlane test
    - uses: actions/upload-artifact@v3
      with:
        name: test-reports
        path: build/reports/tests/